{% extends 'base.html' %}

{% block content %}

<script>
  function fillStar(star) {
    var rating = star.id.slice(-1);
    document.getElementById("rating_user").value = rating;
    for (var i = 1; i <= 5; i++) {
      var s = document.getElementById("star" + i);
      if (i <= rating) {
        s.classList.remove("fa-star-o");
        s.classList.add("fa-star");
      } else {
        s.classList.remove("fa-star");
        s.classList.add("fa-star-o");
      }
    }
  }
</script>


      <div class="container my-5">
        <div class="row">
          <div class="col-md-4">
            <a href="{{book_preview}}" target="_blank">
              <img src="{{book_image}}" alt="Book Cover" class="img-fluid mb-3">
            </a>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                  <span class="me-2">Rate this book:</span>
                  <span class="fa fa-star-o checked" onclick="fillStar(this)"></span>
                  <span class="fa fa-star-o checked" onclick="fillStar(this)"></span>
                  <span class="fa fa-star-o checked" onclick="fillStar(this)"></span>
                  <span class="fa fa-star-o" onclick="fillStar(this)"></span>
                  <span class="fa fa-star-o" onclick="fillStar(this)"></span>
                </div>
              </div>
              
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-dark">Add to Reading List</button>
              </div>
          </div>
          <div class="col-md-8">
            <h1>{{book_title}}</h1>
            <h3>by <a href="https://www.google.com/search?q={{book_author}}" target="_blank" >{{book_author}}</a>
              <div class="current-rating d-inline-flex align-items-center">
                {% for i in range(book_rating) %}
                    <span class="fa fa-star checked" style="font-size: 24px;"></span>
                {% endfor %}
              </div>
              
          
            </h3>
            <h3>{{book_categories}}</h3>
            <h4>Book Description</h4>
            <p>{{book_description}}</p>
            <h4>Book Details</h4>
            <ul>
              <li><strong>Author:</strong> {{book_author}}</li>
              <li><strong>ISBN:</strong> 978-1234567890</li>
              <li><strong>Publisher:</strong> {{book_pulisher}}</li>
            </ul>
          </div>
        </div>
      
      

        <div class="row mt-5">
          <div class="col-md-12">
            <h2>Reviews and Ratings</h2>
            <hr>
            {% for review in reviews %}
            <div class="row">
              <div class="col-md-2 mb-3">
                <img src="https://via.placeholder.com/100" alt="User Image" class="img-fluid rounded-circle">
                <p class="mt-2 mb-0"><strong>{{ review[3] }}</strong></p>
                <div class="current-rating d-inline-flex align-items-center">
                  {% for i in range(review[2]) %}
                    <span class="fa fa-star checked" style="font-size: 24px;"></span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-10 mb-3">
                <h4>{{ review[0] }}</h4>
                <p>{{ review[1] }}</p>
                <hr>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        
        <div class="row mt-5">
          <div class="col-md-12">
            <h2>Rate this book!!</h2>
            <hr>
            {% if current_user.is_authenticated %}
            <form method="POST" action="{{ url_for('views.add_review', title=book_title) }}">
              <div class="mb-3">
                <label for="rating_user" class="form-label">Your Rating:</label>
                <div>
                  <span class="fa fa-star-o checked" onclick="fillStar(this)" id="star1"></span>
                  <span class="fa fa-star-o checked" onclick="fillStar(this)" id="star2"></span>
                  <span class="fa fa-star-o checked" onclick="fillStar(this)" id="star3"></span>
                  <span class="fa fa-star-o" onclick="fillStar(this)" id="star4"></span>
                  <span class="fa fa-star-o" onclick="fillStar(this)" id="star5"></span>
                  <input type="hidden" name="rating_user" id="rating_user" value="0">
                </div>
              </div>
              <div class="mb-3">
                <label for="review_summary" class="form-label">Review Summary:</label>
                <input type="text" class="form-control" name="review_summary" id="review_summary">
              </div>
              <div class="mb-3">
                <label for="review_text" class="form-label">Review Text:</label>
                <textarea class="form-control" name="review_text" id="review_text" rows="5"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
            {% endif %}
          </div>
        </div>

      </div>
      

{% endblock %}


